<h1>About this site</h1>
<p>Gifs are fucking rad. You should probably use them more often. People would probably like you more. Sometimes a good gif is hard to find. If you find a good one...share the love by posting it here. If it sucks I'll remove it :)</p>