<div class="jumbotron">
	<h2 class="center">Welcome to Pinteresting!</h2>
	<div class="center">
	<%= link_to "SIGN UP", "#", class: "btn btn-primary btn-lg" %>
	<%= link_to "SIGN IN", login_path, class: "btn btn-primary btn-lg" %>
</div>
</div>
 