<div class="jumbotron">
<h4 class ="center margin-bottom"> Please enter your username/password below:</h5>	
<div class="center margin-bottom">
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>

<div class="center margin-bottom">
  <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
</div>
<p class="center margin-top"><%= link_to "sign-in", "#", class: "btn btn-primary btn-lg" %></p>
</div>




